.section-1{
    background-color: rgb(43, 101, 226);
}
.section-1-heading{
    font-size: 2rem;
}
/* font-family: "Roboto", sans-serif; */
/* font-family: "Noto Sans", sans-serif; */

h1,h2,h3,h4,h5,h6{
    font-family: "Noto Sans", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.top {
    background-image: ;
}